footer {
    color: black;
    position: absolute;
    z-index: 100;
    bottom: 0;
    width: 100%;
}

.footer ul {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer ul li {
    margin: 0 1rem;
    margin-top: 1rem;
    text-transform: capitalize;
    font-weight: 600;
    list-style-type: none; 
}

.footer ul li a {
    color: var(--secondary-color);
    font-size: 1.2rem; 
    text-decoration: none;
}